# main
.env
.env.dev
.env.prod
.DS_Store
poetry.lock
.venv
__pycache__/


#app
app/__pycache__
app/api/__pycache__
app/middleware/__pycache__
app/api/middleware/jwt/__pycache__
app/api/models/__pycache__
app/api/utils/__pycache__
app/api/core/__pycache__