# main
.env
.env.dev
.env.prod
.DS_Store
poetry.lock
.venv


#app
app/__pycache__
app/middleware/__pycache__
app/middleware/jwt/__pycache__
app/models/__pycache__
app/models/policies/__pycache__
app/api/__pycache__
app/core/__pycache__
app/routes/overtimes/__pycache__
app/routes/auth/__pycache__
app/routes/auth/schema/__pycache__
app/routes/annual_leaves/__pycache__
app/routes/annual_leaves/schema/__pycache__